*.elc
.emacs.d/auto-save-list/*
.emacs.d/backups/*
.local/share/
Desktop/
Docuements/
imei
Music
Pictures
Public
Templates
Videos
*.directory
*.pyc
.bash_history
.cache
.virtualenvs/
.ssh/
.pki
.gtk-bookmarks
.esd_auth
